body{
  background-color: white;
}

header{
  margin: 0 15px;
}

input[type="text"]{
  color: black;
}

.Firstview{
  display: flex;
  flex-wrap: wrap;
}

.img_container{
  width: 400px;
  padding: 15px;
  margin: 15px;
  border: solid 2px #d0d0d0;
}
.img_content img{
  width:100%;
}

.hidden{
  display: none;
}

